{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>Construction</title>

  <!-- Fav Icon -->
  <link rel="shortcut icon" href="{%  static 'favicon.ico' %}">

  <!-- Bootstrap -->
  <link href="{%  static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{%  static 'css/all.css' %}" rel="stylesheet">
  <link href="{%  static 'css/owl.carousel.css' %}" rel="stylesheet">
  <link href="{%  static 'css/style.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="{%  static 'rs-plugin/css/settings.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700" rel="stylesheet">

</head>

<body>
  <!-- Header start -->
  <div class="header">
    <div class="container">

      <!-- Row Start -->
      <div class="row">
        <div class="col-lg-3">
          <div class="navbar navbar-expand-lg bg-light">
            <div class="logo"><a href="index.html"><img src="{%  static 'images/logo.png' %}" alt=""></a></div>
            <div class="navbar-header">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            </div>
          </div>
        </div>
        <div class="col-lg-9">
          <!--navegation-->

          <div class="navigationwrape">
            <nav class="navbar navbar-expand-lg"> <a class="navbar-brand" href="#">Navbar</a>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <button class="close-toggler" type="button" data-toggle="offcanvas"> <span><i
                      class="fas fa-times-circle" aria-hidden="true"></i></span> </button>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="dropdown"> <a href="/" class="active"> AnaSayfa </a>
                    <i class="fas fa-caret-down"></i>

                  </li>
                  <li> <a href="about-us.html"> Hakkımızda </a></li>
                  <li class="dropdown"> <a href="services.html"> Hizmetlerimiz <span class="caret"><i
                          class="fas fa-caret-down"></i></span></a>
                    <i class="fas fa-caret-down"></i>


                    <ul class="dropdown-menu">
                      <li> <a href="services.html"> Hizmet 1 </a></li>
                      <li> <a href="service-details.html"> Hizmet 1 </a></li>
                    </ul>

                    
                  </li>
                  <li> <a href="projects.html"> Projelerimiz </a></li>
                  <li> <a href="contact-us.html"> İletişim </a></li>
                  <li> <a href="our-team.html"> Uzmanlarımız </a></li>
                </ul>
              </div>
            </nav>
          </div>

        </div>
      </div>
      <!-- Row End -->
    </div>
  </div>

  <!-- Header end -->


  {% block content %}

  {% endblock %}



  <!--Newsletter start-->
  <div class="ct_newsletter_wrap">
    <div class="container">
      <div class="newletter_des">
        <h5>Bildirimlerimize katılmak istermisiniz?</h5>
        <form action="register.html">
          <label class="far fa-envelope"></label>
          <input type="text" placeholder="Mail adresinizi girin" class="form-control">
          <button>katıl</button>
        </form>
      </div>
    </div>
  </div>
  <!--Newsletter end-->


  <!--Footer start-->
  <div class="footer-wrap">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-12 col-xs-12">
          <div class="footer-logo"><a href="index.html"><img src="{%  static 'images/footer-logo.png' %}" alt=""></a>
          </div>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris aliquam neque eget ipsum porta, sed
            convallis odio convallis... <a href="#">Read More</a> </p>
          <div class="social"> <a href="#." target="_blank"> <i class="fab fa-facebook-square"
                aria-hidden="true"></i></a> <a href="#." target="_blank"><i class="fab fa-twitter-square"
                aria-hidden="true"></i></a> <a href="#." target="_blank"><i class="fab fa-google-plus-square"
                aria-hidden="true"></i></a> <a href="#." target="_blank"><i class="fab fa-linkedin"></i></a> <a
              href="#." target="_blank"><i class="fab fa-youtube-square" aria-hidden="true"></i></a> </div>
        </div>
        <div class="col-lg-2 col-md-4 col-xs-12">
          <h3>Hızlı Linkler</h3>
          <ul class="footer-links">
            <li> <a href="#"> Home </a></li>
            <li> <a href="#"> About us</a></li>
            <li> <a href="#"> Service</a></li>
            <li> <a href="#"> Projects </a></li>
            <li> <a href="#"> Blog </a></li>
            <li> <a href="#"> Contact us </a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-12">
          <h3>Hizmetler</h3>
          <ul class="footer-links">
            <li><a href="#">Project Management</a></li>
            <li><a href="#">Material Sourcing</a></li>
            <li><a href="#">Space Optimization</a></li>
            <li><a href="#">Construction &amp; installation </a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-12">
          <h3>İletişim bilgileri
          </h3>
          <div class="footer-address">1234 Lorem Road, ISpum A Kennesaw, GA 1234</div>
          <div class="call-us"> <a href="#">(777) 123-4567</a></div>
          <div class="fax"> <a href="#">(777) 132-4567</a></div>
        </div>
      </div>
      <div class="footerWrp">
        <div class="row">
          <div class="col-lg-6 col-md-7">
            <div class="copyright">© 2020 company name here | All Rights Reserved</div>
          </div>
          <div class="col-lg-6 col-md-5">
            <ul class="foot footer-links">
              <li><a href="#">Kurallar</a></li>
              <li><a href="#">Destek</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Footer end-->

  <!--page scroll start-->
  <div class="page-scroll scrollToTop"><a href="#"><i class="fa fa-arrow-up" aria-hidden="true"></i></a></div>
  <!--page scroll start-->

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="{%  static 'js/jquery-2.1.4.min.js' %}"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="{%  static 'js/bootstrap.bundle.min.js' %}"></script>

  <!-- Load JS siles -->
  <!-- SLIDER REVOLUTION SCRIPTS  -->
  <script src="{%  static 'rs-plugin/js/jquery.themepunch.tools.min.js' %}"></script>
  <script src="{%  static 'rs-plugin/js/jquery.themepunch.revolution.min.js' %}"></script>
  <!-- general script file -->
  <script src="{%  static 'js/owl.carousel.js' %}"></script>
  <script src="{%  static 'js/script.js' %}"></script>
</body>

</html>