{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>YAZ GROUP İNŞAAT A.Ş</title>

  <!-- Fav Icon -->
  <link rel="shortcut icon" href="{%  static 'images/logo.png' %}">

  <!-- Bootstrap -->
  <link href="{%  static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{%  static 'css/all.css' %}" rel="stylesheet">
  <link href="{%  static 'css/owl.carousel.css' %}" rel="stylesheet">
  <link href="{%  static 'css/style.css' %}" rel="stylesheet">
  {% if message %}
  <link href="{%  static 'css/popup.css' %}" rel="stylesheet">
  {% endif %}
  <link rel="stylesheet" href="{%  static 'rs-plugin/css/settings.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700" rel="stylesheet">

  {% if pictures %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.fancybox.css' %}" media="screen" />
  {% endif %}
  <!-- Bootstrap -->


</head>

<body>
  <!-- Header start -->
  <div class="header">
    <div class="container">

      <!-- Row Start -->
      <div class="row">
        <div class="col-lg-3">
          <div class="navbar navbar-expand-lg bg-light">
            <div class="logo"><a href="/"><img src="{%  static 'images/logo.png' %}" alt="" max-height="65"></a></div>
            <div class="navbar-header">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            </div>
          </div>
        </div>
        <div class="col-lg-9">
          <!--navegation-->

          <div class="navigationwrape">
            <nav class="navbar navbar-expand-lg"> <a class="navbar-brand" href="#">Navbar</a>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <button class="close-toggler" type="button" data-toggle="offcanvas"> <span><i
                      class="fas fa-times-circle" aria-hidden="true"></i></span> </button>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="dropdown"> <a href="/" class="active"> AnaSayfa </a>
                    <i class="fas fa-caret-down"></i>

                  </li>
                  <li> <a href="{% url 'mysite:about_us' %}"> Hakkımızda </a></li>


                  {% if services %}
                  <li class="dropdown"> <a href="{% url 'mysite:services' %}"> Hizmetlerimiz <span class="caret"><i
                          class="fas fa-caret-down"></i></span></a>
                    <i class="fas fa-caret-down"></i>
                    <ul class="dropdown-menu">
                      {% for service in services %}
                      <li> <a href="{% url 'posts:service_single' s_id=service.id %}"> {{service.title}} </a></li>
                      {% endfor %}
                    </ul>
                  </li>
                  {% endif %}
                  {% if projects %}
                  <li> <a href="{% url 'mysite:projects' %}"> Projelerimiz </a></li>
                  {% endif %}

                  <li> <a href="{% url 'contact:contact_us' %}"> İletişim </a></li>
                  {% if team %}
                  <li> <a href="{% url 'mysite:our_team' %}"> Uzmanlarımız </a></li>
                  {% endif %}
                </ul>
              </div>
            </nav>
          </div>

        </div>
      </div>
      <!-- Row End -->
    </div>
  </div>

  <!-- Header end -->


  {% block content %}

  {% endblock %}





  <!--Footer start-->
  <div class="footer-wrap">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-12 col-xs-12">
          <div class="footer-logo"><a href="index.html"><img src="{%  static 'images/footer-logo.png' %}" alt=""></a>
          </div>
          <p>Gelişen ve değişen Türkiye’de değişmeyen tek şey kalitemizdir. Kaliteyi ön planda tutan
            anlayışımızla hayalleriniz kadar gerçek projeler üretiyoruz. Aileyi ön planda tutan
            evlerimizde huzurlu bir ortam oluşturmak için çalışıyoruz. Kolay ulaşılabilir lokasyonlarda,
            ferah yaşam alanlarına YAZ GROUP İNŞAAT A.Ş olarak imza atmaya sizler için devam
            edeceğiz. </p>
          <div class="social">
            <a href="https://www.facebook.com/profile.php?id=100063861551429" target="_blank">
              <i class="fab fa-facebook" aria-hidden="true"></i>
            </a>
            <a href="https://www.youtube.com/channel/UC7ucS6EzJ6wxQGxYWwvDxkQ" target="_blank">
              <i class="fab fa-youtube" aria-hidden="true"></i>
            </a>
            <a href="https://wa.me/905321630769" target="_blank">
              <i class="fab fa-whatsapp" aria-hidden="true"></i>
            </a>
            <a href="https://instagram.com/yazgrupinsaat" target="_blank">
              <i class="fab fa-instagram"></i>
            </a>
          </div>
        </div>
        <div class="col-lg-2 col-md-4 col-xs-12">
          <h3>Hızlı Linkler</h3>
          <ul class="footer-links">
            <li> <a href="{% url 'mysite:about_us' %}"> Hakkımızda</a></li>
            {% if services %}
            <li> <a href="{% url 'mysite:services' %}"> Hizmetlerimiz</a></li>
            {% endif %}
            {% if projects %}
            <li> <a href="{% url 'mysite:projects' %}"> Projelerimiz</a></li>
            {% endif %}
            <li> <a href="{% url 'contact:contact_us' %}"> İletişim</a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-12">
          <h3>Hizmetler</h3>
          <ul class="footer-links">
            {% for service in services %}
            <li><a href="{% url 'posts:service_single' s_id=service.id %}">{{ service.title }}</a></li>
            {% endfor %}

          </ul>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-12">
          <h3>İletişim bilgileri
          </h3>
          <div class="footer-address">Çınardere mahallesi Olimpiyat caddesi No:64/B Pendik/İstanbul</div>
          <div class="call-us"> <a href="tel:+905321630769" target="blank"> +90 532 163 0769 </a></div>
        </div>
      </div>
      <div class="footerWrp">
        <div class="row">
          <div class="col-lg-6 col-md-7">
            <div class="copyright"> Copyright © 2012 - 2022 Forward Target Mediya , TÜm Hakları Saklıdır.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Footer end-->

  <!--page scroll start-->
  <div class="page-scroll scrollToTop"><a href="#"><i class="fa fa-arrow-up" aria-hidden="true"></i></a></div>
  <!--page scroll start-->

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="{%  static 'js/jquery-2.1.4.min.js' %}"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="{%  static 'js/bootstrap.bundle.min.js' %}"></script>

  <!-- Load JS siles -->
  <!-- SLIDER REVOLUTION SCRIPTS  -->
  <script src="{%  static 'rs-plugin/js/jquery.themepunch.tools.min.js' %}"></script>
  <script src="{%  static 'rs-plugin/js/jquery.themepunch.revolution.min.js' %}"></script>
  <!-- general script file -->
  <script src="{%  static 'js/owl.carousel.js' %}"></script>
  <script src="{%  static 'js/script.js' %}"></script>
  
  {% if pictures %}
  <script src="{% static 'js/jquery.fancybox.js' %}"></script>
  <script>
    $(document).ready(function () {
      $(".fancybox").fancybox();
    });
  </script>
  {% endif %}




</body>

</html>