{% extends "base.html" %}
{% load static %}
{% block content %}


<!--inner header start-->
<div class="inner-heading">
  <div class="container">
    <h3>Contact Us</h3>
  </div>
</div>
<!--inner header end--> 

<!--inner content start-->
<div class="inner-content">
<div class="container">
<div class="map">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3439665.432443288!2d-85.46682153897846!3d32.65815950542019!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88f136c51d5f8157%3A0x6684bc10ec4f10e7!2sGeorgia!5e0!3m2!1sen!2s!4v1489996839236" style="border:0" allowfullscreen=""></iframe>
    </div>
    
<div class="contact-wrap">
      <div class="row">
        <div class="col-lg-8 column">
          <div class="contact-form">
            <div id="message"></div>
            <form method="post" action="contact.php" name="contactform" id="contactform">
              <div class="row">
                <div class="col-lg-6">
                  <input name="name" type="text" id="name" placeholder="Full Name">
                </div>
                <div class="col-lg-6">
                  <input type="text" placeholder="Phone Number">
                </div>
                <div class="col-lg-12">
                  <input name="email" type="text" id="email" placeholder="Email">
                </div>
                <div class="col-lg-12">
                  <textarea rows="4" name="comments" id="comments" placeholder="Message"></textarea>
                </div>
                <div class="col-lg-12">
                <button title="" class="button" type="submit" id="submit">Submit Now</button>
              </div>
              </div>
            </form>
          </div>
        </div>
        
        <div class="col-lg-4 column">
          <div class="contact-now">
            <div class="contact"> <span><i class="fa fa-home"></i></span>
              <div class="information"> <strong>Address:</strong>
                <p>8500 lorem, New Ispum, Dolor amet sit 12301</p>
              </div>
            </div>
            <!-- Contact Info -->
            <div class="contact"> <span><i class="fa fa-envelope"></i></span>
              <div class="information"> <strong>Email Address:</strong>
                <p>info@your-site.com</p>
                <p>info@your-site.com</p>
              </div>
            </div>
            <!-- Contact Info -->
            <div class="contact"> <span><i class="fa fa-phone"></i></span>
              <div class="information"> <strong>Phone No:</strong>
                <p>+12 345 67 09</p>
                <p>+12 345 67 09</p>
              </div>
            </div>
            <!-- Contact Info --> 
          </div>
          <!-- Contact Now --> 
        </div>
      </div>
    </div>
</div>
</div>
<!--inner content end--> 

{% endblock %}
