{% extends "base.html" %}
{% load static %}
{% block content %}


<!--inner header start-->
<div class="inner-heading">
  <div class="container">
    <h3>İLETİŞİM</h3>
  </div>
</div>
<!--inner header end--> 

<!--inner content start-->
<div class="inner-content">
<div class="container">
    
<div class="contact-wrap">
      <div class="row">
        <div class="col-lg-8 column">
          <div class="contact-form">
            <div id="message"></div>
            <form method="post" action="contact.php" name="contactform" id="contactform">
              <div class="row">
                <div class="col-lg-6">
                  <input name="name" type="text" id="name" placeholder="Adı ve Soyadı">
                </div>
                <div class="col-lg-6">
                  <input type="text" placeholder="Telefon Numarası">
                </div>
                <div class="col-lg-12">
                  <input name="email" type="text" id="email" placeholder="Mail Adresi">
                </div>
                <div class="col-lg-12">
                  <textarea rows="4" name="comments" id="comments" placeholder="Nasıl yardımcı olabiliriz?"></textarea>
                </div>
                <div class="col-lg-12">
                <button title="" class="button" type="submit" id="submit">Mesajı gönderin</button>
              </div>
              </div>
            </form>
          </div>
        </div>
        
        <div class="col-lg-4 column">
          <div class="contact-now">
            <div class="contact"> <span><i class="fa fa-home"></i></span>
              <div class="information"> <strong>Adres:</strong>
                <p> Çınardere mahallesi Olimpiyat caddesi No:64/B Pendik/İstanbul</p>
              </div>
            </div>
            <!-- Contact Info -->
            <div class="contact"> <span><i class="fa fa-envelope"></i></span>
              <div class="information"> <strong>Mail Adresi:</strong>
                <p>ayhanyaz6169@gmail.com</p>
                <p>yazmanolya@gmail.com</p>
              </div>
            </div>
            <!-- Contact Info -->
            <div class="contact"> <span><i class="fa fa-phone"></i></span>
              <div class="information"> <strong>Telefon numarası:</strong>
                <p><a href="tel:+905321630769">+90 532 163 0769</a></p>
              </div>
            </div>
            <!-- Contact Info --> 
          </div>
          <!-- Contact Now --> 
        </div>
      </div>
    </div>
</div>
</div>
<!--inner content end--> 

{% endblock %}
