{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- Video start -->
<div class="video">
    <div class="sliderTxt">
      <div class="container">
        <h1>YAZ GROUP İNŞAAT A.Ş</h1>
        <p>Gelişen ve değişen Türkiye’de değişmeyen tek şey kalitemizdir.
          Kaliteyi ön planda tutan
          anlayışımızla hayalleriniz kadar gerçek projeler üretiyoruz</p>
      </div>
    </div>
    <div class="hero-image">
      <video autoplay muted="" poster="{%  static 'images/video.png' %}" id="bgvid" loop>
        <source src="{%  static 'videos/construction-background.mp4' %}" type="video/mp4">
      </video>
    </div>
</div>
<!-- Video end -->

<!--Quote Start-->
<div class="quote-wrap">
  <div class="container">
    <!--Row Start-->
    <div class="row">
      <div class="col-lg-9">
        <h2>BİR SONRAKİ PROJENİZ İÇİN KALİTELİ BİR YAPICI MI ARIYORSUNUZ?</h2>
      </div>
      <div class="col-lg-3">
        <div class="quote-btn"><a href="{% url 'mysite:qoute' %}">başvur</a></div>
      </div>
    </div>
    <!--Row End-->
  </div>
</div>
<!--Quote End-->

<!--About start-->
<div class="about-wrap">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <h1>YAZ GROUP İNŞAAT A.Ş <span>KİMDİR?</span></h1>
        <p>1956 Yılında İSTANBUL ve İZMİT ağırlıklı olup sonrasında BURSA da BAYRAM YAZ
          tarafından taşeronlukla başlayıp yüzlerce konut ve ticari olmakla beraber bir çok fabrika
          inşaatı yapımıyla 1986 yılından sonra kuşak olarak babadan oğula geçen mirasla 1996
          yılında AYHAN YAZ tarafından YAZ OTOMOTİV İNŞAAT LTD.ŞTİ nin kurulmasıyla taahhüt ve
          inşaat çalışmalarını devam ettirerek bünyesi altında birden fazla şirket kurarak bir çok
          inşaat projesine imza atmış ve
          YAZ GROUP İNŞAAT A.Ş olarak çalışmalarını devam ettirmektedir.</p>
        <div class="aboutTxt">NEDEN YAZ GROUP İNŞAAT A.Ş.</div>
        <p>YAZ GROUP İNŞAAT A.Ş, İnşaata başladığı günden bugüne kadar hayata geçirdiği projelerle
          sosyal, kültürel ekonomik fayda sağlayan müşteri memnuniyeti odaklı kaliteyi esas alan
          yenilikçi yapısıyla yeni projeler ve başarı hikayelerini ele almaya devam edecektir. Gelecek
          dönemlerinde hayata geçmesi planlanan yeni proje çalışmalarında aile yapısını ve kaliteyi
          ön planda tutarak çalışma modellerinden hangisi ile iş sürecini yürütürse yürütsün
          planlamadan, alt yapıdan, çevre düzenlemesine kadar her aşamada yapımı denetler.
          Teslim edilen gayrimenkullerin teslim sonrası çıkabilecek sorunlarını izler gerekirse
          sorunları gidermek için müdahele eder ve projenin yapılan sözleşmeye uygun olarak
          yapılmasını sağlayarak yoğun bir şekilde en iyisini oluşturmaya bu yönde de çalışmalarını
          sürdürmeye devam edecektir.</p>
        <div class="readmore"><a href="{% url 'mysite:about_us' %}">Daha fazla bilgi</a></div>
      </div>
      <div class="col-lg-5">
        <div class="about-image"><img src="{%  static 'images/about-jhoss.jpg' %}" alt=""></div>
      </div>
    </div>
  </div>
</div>

<!--About start-->

<!--service start-->
<div class="service-wrap">
  <div class="container">
    <h1>BİZİM <span>HİZMETLERİMİZ</span></h1>
    <ul class="row serviceList">
      {% for service in services %}
      <li class="col-lg-4 col-md-6">
        <div class="service-image"><img src="{{ service.image.url }}" alt="">
          <div class="hoverlink">
            <div class="icon"><a href="{% url 'posts:service_single' s_id=service.id %}"><i class="fa fa-link" aria-hidden="true"></i></a></div>
          </div>
        </div>
        <div class="service-details">
          <h3><a href="{% url 'posts:service_single' s_id=service.id %}">{{ service.title }}</a></h3>
          <p>{{ service.discription|safe|truncatechars:40 }}</p>
          <div class="readmore"><a href="{% url 'posts:service_single' s_id=service.id %}">DAHA FAZLA BİLGİ</a></div>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
<!--service end-->

<!--porfolio start-->
<div class="porfolio-wrap">
  <div class="container">
    <h1>Son <span>Projeler</span></h1>
    <ul class="row portfolio-service">
      {% for project in projects %}
      <li class="col-lg-3 col-md-6">
        <div class="project-image"><img src="{{ project.image.url }}" alt="" width="343" height="321">
          <div class="portfolio-overley">
            <div class="content">
              <h3><a href="{% url 'posts:gallery' s_id=project.id %}" target="blank">{{ project.name }}</a></h3>
              <div class="portfolio-tags"><span>{{ project.discription }}</span></div>
            </div>
          </div>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
<!--porfolio end-->

<!--Testimonials start-->
<div class="testimonials-wrap">
  <div class="container">
    <div class="heading-wrap">
      <h1>Referanslar</h1>
    </div>
    <ul class="owl-carousel testimonials">
      {% for reference in references %}
      <li class="item">
        <div class="testi-info">
          <p>{{ reference.discription }}</p>
          <div class="name">{{ reference.name }}</div>
          <div class="client-image"><img src="{{reference.image.url}}" alt="" width="91" height="89"></div>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
<!--Testimonials end-->

<!--Team Start-->
<div class="team_wrap">
  <div class="container">
    <h1><span>Uzmanlarımız</span></h1>
    <div class="row">
      {% for person in team %}
      <div class="col-lg-3 col-md-6">
        <div class="team">
          <div class="team-image"> <img src="{{person.image.url}}" alt="" width="306" height="306">
            <div class="team-info">
              <h5><a href="#">{{person.name}}</a></h5>
              <span>{{person.discription}}</span>
              <ul class="experts">
                <li><a href="{{person.facebook}}" target="blank"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="{{person.instagram}}" target="blank"><i class="fab fa-instagram"></i></a></li>
                <li><a href="https://wa.me/{{person.whatsapp}}" target="blank"><i class="fab fa-whatsapp"></i></a></li>
                <li><a href="{{person.linkdin}}" target="blank"><i class="fab fa-linkedin-in"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
<!--Team end-->

{% endblock %}