{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- Revolution slider start -->
<div class="tp-banner-container sliderWraper">
  <div class="tp-banner">
    <ul>
      <li data-slotamount="7" data-transition="incude" data-masterspeed="1000" data-saveperformance="on"> <img alt=""
          src="{%  static 'images/dummy.png' %}" data-lazyload="{%  static 'images/banner1.jpg' %}">
        <div class="caption lft large-title tp-resizeme slidertext1" data-x="left" data-y="210" data-speed="600"
          data-start="2200"><span>Your Dream House</span></div>
        <div class="caption lfb large-title tp-resizeme slidertext2" data-x="left" data-y="310" data-speed="600"
          data-start="2800">Lorem Ipsum is simply dummy text of the printing and typesetting<br>
          industry industry's standard dummy text.</div>
        <div class="caption lfl large-title tp-resizeme slidertext3" data-x="left" data-y="350" data-speed="600"
          data-start="3500"><a href="#">Contact Us</a></div>
      </li>
      <li data-slotamount="7" data-transition="3dcurtain-vertical" data-masterspeed="1000" data-saveperformance="on">
        <img alt="" src="{%  static 'images/dummy.png' %}" data-lazyload="{%  static 'images/banner2.jpg' %}">
        <div class="caption lfl large-title tp-resizeme slidertext1 slidertext5" data-x="center" data-y="210"
          data-speed="600" data-start="2200"><span>Construction</span></div>
        <div class="caption lfb large-title tp-resizeme slidertext4 slidertext6" data-x="center" data-y="310"
          data-speed="600" data-start="2800">Lorem Ipsum is simply dummy text of the printing and typesetting<br>
          industry industry's standard dummy text.</div>
        <div class="caption lfl large-title tp-resizeme slidertext3 slidertext7" data-x="center" data-y="350"
          data-speed="600" data-start="3500"><a href="#">Contact Us</a></div>
      </li>
    </ul>
  </div>
</div>
<!-- Revolution slider end -->

<!--Quote Start-->
<div class="quote-wrap">
  <div class="container">
    <!--Row Start-->
    <div class="row">
      <div class="col-lg-9">
        <h2>Looking for a quality constructor for your next project?</h2>
      </div>
      <div class="col-lg-3">
        <div class="quote-btn"><a href="qoute.html">get a Quote</a></div>
      </div>
    </div>
    <!--Row End-->
  </div>
</div>
<!--Quote End-->

<!--About start-->
<div class="about-wrap">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <h1>About <span>Our Company</span></h1>
        <div class="aboutTxt">Curabitur congue egestas dapibus.</div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non libero consectetur, blandit mauris eget,
          imperdiet nisl. Etiam commodo ex nec erat tempor varius. Nunc rutrum pretium nunc in malesuada. Curabitur
          mollis urna ac sapien vulputate, ut congue sapien vehicula. Cum sociis natoque penatibus et magnis dis
          parturient montes, nascetur ridiculus mus. Nam et suscipit dui. Maecenas velit quam, mollis id erat eget,
          scelerisque elementum odio. Maecenas ac sagittis erat. Quisque hendrerit dapibus diam, a venenatis dui
          efficitur nec. Aenean tincidunt ullamcorper fermentum.</p>
        <ul class="about-service">
          <li>Lorem ipsum dolor sit amet consectetur</li>
          <li>Lorem ipsum dolor sit amet consectetur</li>
          <li>Ut sit amet nisl sed ante vulputate</li>
          <li>Ut sit amet nisl sed ante vulputate</li>
        </ul>

        <div class="readmore"><a href="#">Read More</a></div>
      </div>
      <div class="col-lg-5">
        <div class="about-image"><img src="{%  static 'images/about-jhoss.jpg' %}" alt=""></div>
      </div>
    </div>
  </div>
</div>

<!--About start-->

<!--service start-->
<div class="service-wrap">
  <div class="container">
    <h1>Our <span>Service</span></h1>
    <ul class="row serviceList">
      <li class="col-lg-4 col-md-6">
        <div class="service-image"><img src="{%  static 'images/feature-image-1.jpg' %}" alt="">
          <div class="hoverlink">
            <div class="icon"><a href="#"><i class="fa fa-link" aria-hidden="true"></i></a></div>
          </div>
        </div>
        <div class="service-details">
          <h3><a href="#">Donec justo sapien</a></h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eu faucibus magna. Fusce et odio nec tellus
            egestas volutpat.</p>
          <div class="readmore"><a href="#">Read More</a></div>
        </div>
      </li>
      <li class="col-lg-4 col-md-6">
        <div class="service-image"><img src="{%  static 'images/feature-image-2.jpg' %}" alt="">
          <div class="hoverlink">
            <div class="icon"><a href="#"><i class="fa fa-link" aria-hidden="true"></i></a></div>
          </div>
        </div>
        <div class="service-details">
          <h3><a href="#">Donec justo sapien</a></h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eu faucibus magna. Fusce et odio nec tellus
            egestas volutpat.</p>
          <div class="readmore"><a href="#">Read More</a></div>
        </div>
      </li>
      <li class="col-lg-4 col-md-6">
        <div class="service-image"><img src="{%  static 'images/feature-image-3.jpg' %}" alt="">
          <div class="hoverlink">
            <div class="icon"><a href="#"><i class="fa fa-link" aria-hidden="true"></i></a></div>
          </div>
        </div>
        <div class="service-details">
          <h3><a href="#">Donec justo sapien</a></h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eu faucibus magna. Fusce et odio nec tellus
            egestas volutpat.</p>
          <div class="readmore"><a href="#">Read More</a></div>
        </div>
      </li>
    </ul>
  </div>
</div>
<!--service end-->

<!--porfolio start-->
<div class="porfolio-wrap">
  <div class="container">
    <h1>Latest <span>Project</span></h1>
    <ul class="row portfolio-service">
      <li class="col-lg-3 col-md-6">
        <div class="project-image"><img src="{%  static 'images/portfolio.jpg' %}" alt="">
          <div class="portfolio-overley">
            <div class="content">
              <h3><a href="#">Interior Design</a></h3>
              <div class="portfolio-tags"> <span>Builder</span>, <span>Repairman</span> </div>
            </div>
          </div>
        </div>
      </li>
      <li class="col-lg-3 col-md-6">
        <div class="project-image"><img src="{%  static 'images/portfolio2.jpg' %}" alt="">
          <div class="portfolio-overley">
            <div class="content">
              <h3><a href="#">Home</a></h3>
              <div class="portfolio-tags"> <span>Builder</span>, <span>Repairman</span> </div>
            </div>
          </div>
        </div>
      </li>
      <li class="col-lg-3 col-md-6">
        <div class="project-image"><img src="{%  static 'images/portfolio3.jpg' %}" alt="">
          <div class="portfolio-overley">
            <div class="content">
              <h3><a href="#">Green House</a></h3>
              <div class="portfolio-tags"> <span>Builder</span>, <span>Repairman</span> </div>
            </div>
          </div>
        </div>
      </li>
      <li class="col-lg-3 col-md-6">
        <div class="project-image"><img src="{%  static 'images/portfolio4.jpg' %}" alt="">
          <div class="portfolio-overley">
            <div class="content">
              <h3><a href="#">Home</a></h3>
              <div class="portfolio-tags"> <span>Builder</span>, <span>Repairman</span> </div>
            </div>
          </div>
        </div>
      </li>
      <li class="col-lg-3 col-md-6">
        <div class="project-image"><img src="{%  static 'images/portfolio5.jpg' %}" alt="">
          <div class="portfolio-overley">
            <div class="content">
              <h3><a href="#">Interior Design</a></h3>
              <div class="portfolio-tags"> <span>Builder</span>, <span>Repairman</span> </div>
            </div>
          </div>
        </div>
      </li>
      <li class="col-lg-3 col-md-6">
        <div class="project-image"><img src="{%  static 'images/portfolio6.jpg' %}" alt="">
          <div class="portfolio-overley">
            <div class="content">
              <h3><a href="#">Home</a></h3>
              <div class="portfolio-tags"> <span>Builder</span>, <span>Repairman</span> </div>
            </div>
          </div>
        </div>
      </li>
      <li class="col-lg-3 col-md-6">
        <div class="project-image"><img src="{%  static 'images/portfolio7.jpg' %}" alt="">
          <div class="portfolio-overley">
            <div class="content">
              <h3><a href="#">Home</a></h3>
              <div class="portfolio-tags"> <span>Builder</span>, <span>Repairman</span> </div>
            </div>
          </div>
        </div>
      </li>
      <li class="col-lg-3 col-md-6">
        <div class="project-image"><img src="{%  static 'images/portfolio8.jpg' %}" alt="">
          <div class="portfolio-overley">
            <div class="content">
              <h3><a href="#">Home</a></h3>
              <div class="portfolio-tags"> <span>Builder</span>, <span>Repairman</span> </div>
            </div>
          </div>
        </div>
      </li>
      <li class="col-lg-3 col-md-6">
        <div class="project-image"><img src="{%  static 'images/portfolio9.jpg' %}" alt="">
          <div class="portfolio-overley">
            <div class="content">
              <h3><a href="#">Home</a></h3>
              <div class="portfolio-tags"> <span>Builder</span>, <span>Repairman</span> </div>
            </div>
          </div>
        </div>
      </li>
      <li class="col-lg-3 col-md-6">
        <div class="project-image"><img src="{%  static 'images/portfolio10.jpg' %}" alt="">
          <div class="portfolio-overley">
            <div class="content">
              <h3><a href="#">Interior Design</a></h3>
              <div class="portfolio-tags"> <span>Builder</span>, <span>Repairman</span> </div>
            </div>
          </div>
        </div>
      </li>
      <li class="col-lg-3 col-md-6">
        <div class="project-image"><img src="{%  static 'images/portfolio11.jpg' %}" alt="">
          <div class="portfolio-overley">
            <div class="content">
              <h3><a href="#">Home</a></h3>
              <div class="portfolio-tags"> <span>Builder</span>, <span>Repairman</span> </div>
            </div>
          </div>
        </div>
      </li>
      <li class="col-lg-3 col-md-6">
        <div class="project-image"><img src="{%  static 'images/portfolio12.jpg' %}" alt="">
          <div class="portfolio-overley">
            <div class="content">
              <h3><a href="#">Home</a></h3>
              <div class="portfolio-tags"> <span>Builder</span>, <span>Repairman</span> </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
<!--porfolio end-->

<!--Testimonials start-->
<div class="testimonials-wrap">
  <div class="container">
    <div class="heading-wrap">
      <h1>Testimonials</h1>
    </div>
    <ul class="owl-carousel testimonials">
      <li class="item">
        <div class="testi-info">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam at egestas diam. Phasellus eget tortor tellus.
            Aliquam erat volutpat. Nunc sed arcu malesuada, viverra justo bibendum, sagittis ipsum. Quisque in ornare
            dui, id scelerisque eros. </p>
          <div class="name">John Doe <span>Lorem Ispum</span></div>
          <div class="client-image"><img src="{%  static 'images/client.jpg' %}" alt=""></div>
        </div>
      </li>
      <li class="item">
        <div class="testi-info">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam at egestas diam. Phasellus eget tortor tellus.
            Aliquam erat volutpat. Nunc sed arcu malesuada, viverra justo bibendum, sagittis ipsum. Quisque in ornare
            dui, id scelerisque eros. </p>
          <div class="name">John Doe <span>Lorem Ispum</span></div>
          <div class="client-image"><img src="{%  static 'images/client2.jpg' %}" alt=""></div>
        </div>
      </li>
      <li class="item">
        <div class="testi-info">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam at egestas diam. Phasellus eget tortor tellus.
            Aliquam erat volutpat. Nunc sed arcu malesuada, viverra justo bibendum, sagittis ipsum. Quisque in ornare
            dui, id scelerisque eros. </p>
          <div class="name">John Doe <span>Lorem Ispum</span></div>
          <div class="client-image"><img src="{%  static 'images/client.jpg' %}" alt=""></div>
        </div>
      </li>
      <li class="item">
        <div class="testi-info">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam at egestas diam. Phasellus eget tortor tellus.
            Aliquam erat volutpat. Nunc sed arcu malesuada, viverra justo bibendum, sagittis ipsum. Quisque in ornare
            dui, id scelerisque eros. </p>
          <div class="name">John Doe <span>Lorem Ispum</span></div>
          <div class="client-image"><img src="{%  static 'images/client2.jpg' %}" alt=""></div>
        </div>
      </li>
      <li class="item">
        <div class="testi-info">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam at egestas diam. Phasellus eget tortor tellus.
            Aliquam erat volutpat. Nunc sed arcu malesuada, viverra justo bibendum, sagittis ipsum. Quisque in ornare
            dui, id scelerisque eros. </p>
          <div class="name">John Doe <span>Lorem Ispum</span></div>
          <div class="client-image"><img src="{%  static 'images/client.jpg' %}" alt=""></div>
        </div>
      </li>
      <li class="item">
        <div class="testi-info">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam at egestas diam. Phasellus eget tortor tellus.
            Aliquam erat volutpat. Nunc sed arcu malesuada, viverra justo bibendum, sagittis ipsum. Quisque in ornare
            dui, id scelerisque eros. </p>
          <div class="name">John Doe <span>Lorem Ispum</span></div>
          <div class="client-image"><img src="{%  static 'images/client2.jpg' %}" alt=""></div>
        </div>
      </li>
    </ul>
  </div>
</div>
<!--Testimonials end-->

<!--Team Start-->
<div class="team_wrap">
  <div class="container">
    <h1>OUR <span>EXPERTS</span></h1>
    <p>Aenean commodo ligula eget dolor. Aenean massa. Lorem ipsum dolor sit amet, consec <br>
      tetuer adipis elit, aliquam eget nibh etlibura.</p>
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="team">
          <div class="team-image"> <img src="{%  static 'images/team01.png' %}" alt="">
            <div class="team-info">
              <h5><a href="#">STEVE JOBS</a></h5>
              <span>Supervisor</span>
              <ul class="experts">
                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="team">
          <div class="team-image"> <img src="{%  static 'images/team02.png' %}" alt="">
            <div class="team-info">
              <h5><a href="#">Alex Cameron</a></h5>
              <span>Supervisor</span>
              <ul class="experts">
                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="team">
          <div class="team-image"> <img src="{%  static 'images/team03.png' %}" alt="">
            <div class="team-info">
              <h5><a href="#">Jack Peterson</a></h5>
              <span>Supervisor</span>
              <ul class="experts">
                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="team">
          <div class="team-image"> <img src="{%  static 'images/team04.png' %}" alt="">
            <div class="team-info">
              <h5><a href="#">Adam Lewis</a></h5>
              <span>Supervisor</span>
              <ul class="experts">
                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Team end-->

{% endblock %}