{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- Revolution slider start -->
<div class="tp-banner-container sliderWraper">
  <div class="tp-banner">
    <ul>
      <li data-slotamount="7" data-transition="incude" data-masterspeed="1000" data-saveperformance="on"> <img alt=""
          src="{%  static 'images/dummy.png' %}" data-lazyload="{%  static 'images/banner1.jpg' %}">
        <div class="caption lft large-title tp-resizeme slidertext1" data-x="left" data-y="210" data-speed="600"
          data-start="2200"><span>YAZ GROUP İNŞAAT A.Ş
          </span></div>
        <div class="caption lfb large-title tp-resizeme slidertext2" data-x="left" data-y="310" data-speed="600"
          data-start="2800">Her bütçeye uygun, birbirinden özel, projeler</div>
        <div class="caption lfl large-title tp-resizeme slidertext3" data-x="left" data-y="350" data-speed="600"
          data-start="3500"><a href="#">Bize ulaşın</a></div>
      </li>
      <li data-slotamount="7" data-transition="3dcurtain-vertical" data-masterspeed="1000" data-saveperformance="on">
        <img alt="" src="{%  static 'images/dummy.png' %}" data-lazyload="{%  static 'images/banner2.jpg' %}">
        <div class="caption lfl large-title tp-resizeme slidertext1 slidertext5" data-x="center" data-y="210"
          data-speed="600" data-start="2200"><span>YAZ GROUP İNŞAAT A.Ş
          </span></div>
        <div class="caption lfb large-title tp-resizeme slidertext4 slidertext6" data-x="center" data-y="310"
          data-speed="600" data-start="2800">Hayallerinizi Ertelemeyin!</div>
        <div class="caption lfl large-title tp-resizeme slidertext3 slidertext7" data-x="center" data-y="350"
          data-speed="600" data-start="3500"><a href="#">Bize ulaşın</a></div>
      </li>
    </ul>
  </div>
</div>
<!-- Revolution slider end -->

<!--Quote Start-->
<div class="quote-wrap">
  <div class="container">
    <!--Row Start-->
    <div class="row">
      <div class="col-lg-9">
        <h2>BİR SONRAKİ PROJENİZ İÇİN KALİTELİ BİR YAPICI MI ARIYORSUNUZ?</h2>
      </div>
      <div class="col-lg-3">
        <div class="quote-btn"><a href="qoute.html">başvur</a></div>
      </div>
    </div>
    <!--Row End-->
  </div>
</div>
<!--Quote End-->

<!--About start-->
<div class="about-wrap">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <h1>YAZ GROUP İNŞAAT A.Ş  <span>KİMDİR?</span></h1>
        <p>1956 Yılında İSTANBUL ve İZMİT ağırlıklı olup sonrasında BURSA da BAYRAM YAZ
          tarafından taşeronlukla başlayıp yüzlerce konut ve ticari olmakla beraber bir çok fabrika 
          inşaatı yapımıyla 1986 yılından sonra kuşak olarak babadan oğula geçen mirasla 1996 
          yılında AYHAN YAZ tarafından YAZ OTOMOTİV İNŞAAT LTD.ŞTİ nin kurulmasıyla taahhüt ve
          inşaat çalışmalarını devam ettirerek bünyesi altında birden fazla şirket kurarak bir çok 
          inşaat projesine imza atmış ve 
          YAZ GROUP İNŞAAT A.Ş olarak çalışmalarını devam ettirmektedir.</p>
          <div class="aboutTxt">NEDEN YAZ GROUP İNŞAAT A.Ş.</div>
        <p>YAZ GROUP İNŞAAT A.Ş, İnşaata başladığı günden bugüne kadar hayata geçirdiği projelerle 
          sosyal, kültürel ekonomik fayda sağlayan müşteri memnuniyeti odaklı kaliteyi esas alan 
          yenilikçi yapısıyla yeni projeler ve başarı hikayelerini ele almaya devam edecektir. Gelecek 
          dönemlerinde hayata geçmesi planlanan yeni proje çalışmalarında aile yapısını ve kaliteyi 
          ön planda tutarak çalışma modellerinden hangisi ile iş sürecini yürütürse yürütsün 
          planlamadan, alt yapıdan, çevre düzenlemesine kadar her aşamada yapımı denetler. 
          Teslim edilen gayrimenkullerin teslim sonrası çıkabilecek sorunlarını izler gerekirse 
          sorunları gidermek için müdahele eder ve projenin yapılan sözleşmeye uygun olarak 
          yapılmasını sağlayarak yoğun bir şekilde en iyisini oluşturmaya bu yönde de çalışmalarını 
          sürdürmeye devam edecektir.</p>
        <div class="readmore"><a href="#">Daha fazla bilgi</a></div>
      </div>
      <div class="col-lg-5">
        <div class="about-image"><img src="{%  static 'images/about-jhoss.jpg' %}" alt=""></div>
      </div>
    </div>
  </div>
</div>

<!--About start-->

<!--service start-->
<div class="service-wrap">
  <div class="container">
    <h1>Bizim <span>Hizmetlerimiz</span></h1>
    <ul class="row serviceList">
      <li class="col-lg-4 col-md-6">
        <div class="service-image"><img src="{%  static 'images/feature-image-1.jpg' %}" alt="">
          <div class="hoverlink">
            <div class="icon"><a href="#"><i class="fa fa-link" aria-hidden="true"></i></a></div>
          </div>
        </div>
        <div class="service-details">
          <h3><a href="#">Donec justo sapien</a></h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eu faucibus magna. Fusce et odio nec tellus
            egestas volutpat.</p>
          <div class="readmore"><a href="#">Read More</a></div>
        </div>
      </li>
      <li class="col-lg-4 col-md-6">
        <div class="service-image"><img src="{%  static 'images/feature-image-2.jpg' %}" alt="">
          <div class="hoverlink">
            <div class="icon"><a href="#"><i class="fa fa-link" aria-hidden="true"></i></a></div>
          </div>
        </div>
        <div class="service-details">
          <h3><a href="#">Donec justo sapien</a></h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eu faucibus magna. Fusce et odio nec tellus
            egestas volutpat.</p>
          <div class="readmore"><a href="#">Read More</a></div>
        </div>
      </li>
      <li class="col-lg-4 col-md-6">
        <div class="service-image"><img src="{%  static 'images/feature-image-3.jpg' %}" alt="">
          <div class="hoverlink">
            <div class="icon"><a href="#"><i class="fa fa-link" aria-hidden="true"></i></a></div>
          </div>
        </div>
        <div class="service-details">
          <h3><a href="#">Donec justo sapien</a></h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eu faucibus magna. Fusce et odio nec tellus
            egestas volutpat.</p>
          <div class="readmore"><a href="#">Read More</a></div>
        </div>
      </li>
    </ul>
  </div>
</div>
<!--service end-->

<!--porfolio start-->
<div class="porfolio-wrap">
  <div class="container">
    <h1>Son <span>Projeler</span></h1>
    <ul class="row portfolio-service">
      <li class="col-lg-3 col-md-6">
        <div class="project-image"><img src="{%  static 'images/portfolio.jpg' %}" alt="">
          <div class="portfolio-overley">
            <div class="content">
              <h3><a href="#">Interior Design</a></h3>
              <div class="portfolio-tags"> <span>Builder</span>, <span>Repairman</span> </div>
            </div>
          </div>
        </div>
      </li>
      <li class="col-lg-3 col-md-6">
        <div class="project-image"><img src="{%  static 'images/portfolio2.jpg' %}" alt="">
          <div class="portfolio-overley">
            <div class="content">
              <h3><a href="#">Home</a></h3>
              <div class="portfolio-tags"> <span>Builder</span>, <span>Repairman</span> </div>
            </div>
          </div>
        </div>
      </li>
      <li class="col-lg-3 col-md-6">
        <div class="project-image"><img src="{%  static 'images/portfolio3.jpg' %}" alt="">
          <div class="portfolio-overley">
            <div class="content">
              <h3><a href="#">Green House</a></h3>
              <div class="portfolio-tags"> <span>Builder</span>, <span>Repairman</span> </div>
            </div>
          </div>
        </div>
      </li>
      <li class="col-lg-3 col-md-6">
        <div class="project-image"><img src="{%  static 'images/portfolio4.jpg' %}" alt="">
          <div class="portfolio-overley">
            <div class="content">
              <h3><a href="#">Home</a></h3>
              <div class="portfolio-tags"> <span>Builder</span>, <span>Repairman</span> </div>
            </div>
          </div>
        </div>
      </li>
      <li class="col-lg-3 col-md-6">
        <div class="project-image"><img src="{%  static 'images/portfolio5.jpg' %}" alt="">
          <div class="portfolio-overley">
            <div class="content">
              <h3><a href="#">Interior Design</a></h3>
              <div class="portfolio-tags"> <span>Builder</span>, <span>Repairman</span> </div>
            </div>
          </div>
        </div>
      </li>
      <li class="col-lg-3 col-md-6">
        <div class="project-image"><img src="{%  static 'images/portfolio6.jpg' %}" alt="">
          <div class="portfolio-overley">
            <div class="content">
              <h3><a href="#">Home</a></h3>
              <div class="portfolio-tags"> <span>Builder</span>, <span>Repairman</span> </div>
            </div>
          </div>
        </div>
      </li>
      <li class="col-lg-3 col-md-6">
        <div class="project-image"><img src="{%  static 'images/portfolio7.jpg' %}" alt="">
          <div class="portfolio-overley">
            <div class="content">
              <h3><a href="#">Home</a></h3>
              <div class="portfolio-tags"> <span>Builder</span>, <span>Repairman</span> </div>
            </div>
          </div>
        </div>
      </li>
      <li class="col-lg-3 col-md-6">
        <div class="project-image"><img src="{%  static 'images/portfolio8.jpg' %}" alt="">
          <div class="portfolio-overley">
            <div class="content">
              <h3><a href="#">Home</a></h3>
              <div class="portfolio-tags"> <span>Builder</span>, <span>Repairman</span> </div>
            </div>
          </div>
        </div>
      </li>
      <li class="col-lg-3 col-md-6">
        <div class="project-image"><img src="{%  static 'images/portfolio9.jpg' %}" alt="">
          <div class="portfolio-overley">
            <div class="content">
              <h3><a href="#">Home</a></h3>
              <div class="portfolio-tags"> <span>Builder</span>, <span>Repairman</span> </div>
            </div>
          </div>
        </div>
      </li>
      <li class="col-lg-3 col-md-6">
        <div class="project-image"><img src="{%  static 'images/portfolio10.jpg' %}" alt="">
          <div class="portfolio-overley">
            <div class="content">
              <h3><a href="#">Interior Design</a></h3>
              <div class="portfolio-tags"> <span>Builder</span>, <span>Repairman</span> </div>
            </div>
          </div>
        </div>
      </li>
      <li class="col-lg-3 col-md-6">
        <div class="project-image"><img src="{%  static 'images/portfolio11.jpg' %}" alt="">
          <div class="portfolio-overley">
            <div class="content">
              <h3><a href="#">Home</a></h3>
              <div class="portfolio-tags"> <span>Builder</span>, <span>Repairman</span> </div>
            </div>
          </div>
        </div>
      </li>
      <li class="col-lg-3 col-md-6">
        <div class="project-image"><img src="{%  static 'images/portfolio12.jpg' %}" alt="">
          <div class="portfolio-overley">
            <div class="content">
              <h3><a href="#">Home</a></h3>
              <div class="portfolio-tags"> <span>Builder</span>, <span>Repairman</span> </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
<!--porfolio end-->

<!--Testimonials start-->
<div class="testimonials-wrap">
  <div class="container">
    <div class="heading-wrap">
      <h1>Referanslar</h1>
    </div>
    <ul class="owl-carousel testimonials">
      <li class="item">
        <div class="testi-info">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam at egestas diam. Phasellus eget tortor tellus.
            Aliquam erat volutpat. Nunc sed arcu malesuada, viverra justo bibendum, sagittis ipsum. Quisque in ornare
            dui, id scelerisque eros. </p>
          <div class="name">John Doe <span>Lorem Ispum</span></div>
          <div class="client-image"><img src="{%  static 'images/client.jpg' %}" alt=""></div>
        </div>
      </li>
      <li class="item">
        <div class="testi-info">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam at egestas diam. Phasellus eget tortor tellus.
            Aliquam erat volutpat. Nunc sed arcu malesuada, viverra justo bibendum, sagittis ipsum. Quisque in ornare
            dui, id scelerisque eros. </p>
          <div class="name">John Doe <span>Lorem Ispum</span></div>
          <div class="client-image"><img src="{%  static 'images/client2.jpg' %}" alt=""></div>
        </div>
      </li>
      <li class="item">
        <div class="testi-info">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam at egestas diam. Phasellus eget tortor tellus.
            Aliquam erat volutpat. Nunc sed arcu malesuada, viverra justo bibendum, sagittis ipsum. Quisque in ornare
            dui, id scelerisque eros. </p>
          <div class="name">John Doe <span>Lorem Ispum</span></div>
          <div class="client-image"><img src="{%  static 'images/client.jpg' %}" alt=""></div>
        </div>
      </li>
      <li class="item">
        <div class="testi-info">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam at egestas diam. Phasellus eget tortor tellus.
            Aliquam erat volutpat. Nunc sed arcu malesuada, viverra justo bibendum, sagittis ipsum. Quisque in ornare
            dui, id scelerisque eros. </p>
          <div class="name">John Doe <span>Lorem Ispum</span></div>
          <div class="client-image"><img src="{%  static 'images/client2.jpg' %}" alt=""></div>
        </div>
      </li>
      <li class="item">
        <div class="testi-info">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam at egestas diam. Phasellus eget tortor tellus.
            Aliquam erat volutpat. Nunc sed arcu malesuada, viverra justo bibendum, sagittis ipsum. Quisque in ornare
            dui, id scelerisque eros. </p>
          <div class="name">John Doe <span>Lorem Ispum</span></div>
          <div class="client-image"><img src="{%  static 'images/client.jpg' %}" alt=""></div>
        </div>
      </li>
      <li class="item">
        <div class="testi-info">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam at egestas diam. Phasellus eget tortor tellus.
            Aliquam erat volutpat. Nunc sed arcu malesuada, viverra justo bibendum, sagittis ipsum. Quisque in ornare
            dui, id scelerisque eros. </p>
          <div class="name">John Doe <span>Lorem Ispum</span></div>
          <div class="client-image"><img src="{%  static 'images/client2.jpg' %}" alt=""></div>
        </div>
      </li>
    </ul>
  </div>
</div>
<!--Testimonials end-->

<!--Team Start-->
<div class="team_wrap">
  <div class="container">
    <h1><span>Uzmanlarımız</span></h1>
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="team">
          <div class="team-image"> <img src="{%  static 'images/team01.png' %}" alt="">
            <div class="team-info">
              <h5><a href="#">STEVE JOBS</a></h5>
              <span>Supervisor</span>
              <ul class="experts">
                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="team">
          <div class="team-image"> <img src="{%  static 'images/team02.png' %}" alt="">
            <div class="team-info">
              <h5><a href="#">Alex Cameron</a></h5>
              <span>Supervisor</span>
              <ul class="experts">
                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="team">
          <div class="team-image"> <img src="{%  static 'images/team03.png' %}" alt="">
            <div class="team-info">
              <h5><a href="#">Jack Peterson</a></h5>
              <span>Supervisor</span>
              <ul class="experts">
                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="team">
          <div class="team-image"> <img src="{%  static 'images/team04.png' %}" alt="">
            <div class="team-info">
              <h5><a href="#">Adam Lewis</a></h5>
              <span>Supervisor</span>
              <ul class="experts">
                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Team end-->

{% endblock %}