{% extends "base.html" %}
{% load static %}
{% block content %}


<!--inner header start-->
<div class="inner-heading">
  <div class="container">
    <h3>PROJELERİMİZ</h3>
  </div>
</div>
<!--inner header end-->

<!--inner content start-->
<div class="inner-content">
  <div class="container">
    <div class="porfolio-wrap">
      <ul class="row portfolio-service">
        {% for project in projects %}
        <li class="col-lg-3 col-md-6">
          <div class="project-image"><img src="{{ project.image.url }}" alt="">
            <div class="portfolio-overley">
              <div class="content">
                <h3><a href="{{ project.reference }}" target="_blank">{{project.name}}</a></h3>
                <div class="portfolio-tags"> <span>{{project.discription}}</span> </div>
              </div>
            </div>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
<!--inner content end-->

{% endblock %}