{% extends "base.html" %}
{% load static %}
{% block content %}


<!--inner header start-->
<div class="inner-heading">
  <div class="container">
    <h3>Başvuru Formu</h3>
  </div>
</div>
<!--inner header end--> 

<!--inner content start-->
<div class="inner-content">
  <div class="container">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <div class="contctxt">Lütfen bilgilerinizi tam olarak yazınız</div>
        <div class="formint conForm">
          <form>
            <div class="input-group">
              <label class="input-group-addon">Adı <span>*</span></label>
              <input type="text" class="form-control">
            </div>
            
            <div class="input-group">
              <label class="input-group-addon">Soyadı <span>*</span></label>
              <input type="text" class="form-control">
            </div>
            <div class="input-group">
              <label class="input-group-addon">TelefonNumarası <span>*</span></label>
              <input type="text" class="form-control">
            </div>
            <div class="sub-btn">
              <input type="submit" class="sbutn" value="Başvur">
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
</div>
<!--inner content end--> 

{% endblock %}