{% extends "base.html" %}
{% load static %}
{% block content %}


<!--inner header start-->
<div class="inner-heading">
  <div class="container">
    <h3>Başvuru Formu</h3>
  </div>
</div>
<!--inner header end--> 

<!--inner content start-->
<div class="inner-content">
  <div class="container">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <div class="contctxt">Lütfen bilgilerinizi tam olarak yazınız</div>

        <div class="formint conForm">
          <form method="post" action="{% url 'contact:quote' %}">
            {% csrf_token %}
            <div class="input-group">
              <label class="input-group-addon">Adı ve soyadı <span>*</span></label>
              <input name="full_name" type="text" class="form-control" required>
            </div>
            <div class="input-group">
              <label class="input-group-addon">TelefonNumarası <span>*</span></label>
              <input name="phone" type="text" class="form-control" required>
            </div>
            <div class="input-group">
              <label class="input-group-addon">Mail adresiniz </label>
              <input name="email" type="text" class="form-control">
            </div>
            <div class="input-group">
              <label class="input-group-addon">Kısa açıklama </label>
              <input name="message" type="text" class="form-control" required>
            </div>
            <div class="sub-btn">
              <input type="submit" class="sbutn" value="Başvur">
            </div>
          </form>
          {% if message %}
          <div id="message">
            <div class="success">
              <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
              {{message}}
            </div>
          </div>
          {% endif %}
        </div>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
</div>
<!--inner content end--> 

{% endblock %}