{% extends "base.html" %}
{% load static %}
{% block content %}

<!--inner header start-->
<div class="inner-heading">
  <div class="container">
    <h3>HİZMET DETAYLARI</h3>
  </div>
</div>
<!--inner header end--> 

<!--inner content start-->
<div class="inner-content">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="sidebar service-cat"> 
          <!-- Search --> 
          
          <!-- Categories -->
          <div class="widget">
            <h5 class="widget-title">Tüm Hizmetler</h5>
            <ul class="categories">
              {% for single in services %}
              <li><a href="{% url 'posts:service_single' s_id=single.id %}" class="active">{{single.title}}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-9"> 
        <!-- Blog List start -->
        <div class="blogWraper blogdetail service">
        <ul class="blogList">
          <li>
            <div class="postimg"><img src="{{service.image.url}}" alt="Service Title" width="1000" height="667"></div>
           
          <div class="post-header margin-top30">
            <h4>{{service.title}}</h4>
          </div>
          <p>
            {{service.discription}}
          </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
</div>
<!--inner content end--> 

{% endblock %}