{% extends "base.html" %}
{% load static %}
{% block content %}


<!--inner header start-->
<div class="inner-heading">
  <div class="container">
    <h3>HİZMETLERİMİZ</h3>
  </div>
</div>
<!--inner header end--> 

<!--inner content start-->
<div class="inner-content">
  <div class="container">
    <ul class="row serviceList service-wrap">
      {% for service in services %}
      <li class="col-lg-4 col-md-6">
        <div class="service-image"><img src="{{service.image.url}}" alt="">
          <div class="hoverlink">
            <div class="icon"><a href="{% url 'posts:service_single' s_id=service.id %}"><i class="fa fa-link" aria-hidden="true"></i></a></div>
          </div>
        </div>
        <div class="service-details">
          <h3><a href="{% url 'posts:service_single' s_id=service.id %}">{{service.title}}</a></h3>
          <p>{{ service.discription|safe|truncatechars:40 }}</p>
          <div class="readmore"><a href="{% url 'posts:service_single' s_id=service.id %}">Daha fazla bilgi</a></div>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
<!--inner content end--> 

{% endblock %}